@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
  --cor-primaria: #061644;
  --cor-secundaria: #f50911;
  --cor-terciaria: #0b0a1d;
  --cor-quaternaria: #1c1c3a; 
  --cor-quintenaria: #ffffff; 
}